$pri-color: #ff3333;
$sec-color: #ff7676;
// $ter-color:;
$nat-color-light: #fff;
$nat-color-dark: #000;
$nat-color-grey: #4a4a4a;
$font-sec: sans-serif;
$font-main: 'Plus Jakarta Sans', $font-sec;
$font-size: 16px;
.head-sm {
    font-size: 1rem;
    font-weight: 700;
    color: $nat-color-grey;
    &[data-color='white'] {
        color: $nat-color-light;
    }
}
.head-md {
    font-size: 1.5rem;
    font-weight: 600;
    color: $nat-color-dark;
    &[data-color='white'] {
        color: $nat-color-light;
    }
}
.head-bold {
    font-size: 2rem;
    font-weight: 700;
    color: $nat-color-dark;
    &[data-color='white'] {
        color: $nat-color-light;
    }
}
.para-sm {
    font-size: 1rem;
    font-weight: 300;
    color: $nat-color-grey;
    &[data-color='white'] {
        color: $nat-color-light;
    }
}
.para-md {
    font-size: 1rem;
    font-weight: 400;
    color: $nat-color-dark;
    &[data-color='white'] {
        color: $nat-color-light;
    }
}
.para-bold {
    font-size: 1.1rem;
    font-weight: 500;
    color: $nat-color-dark;
    &[data-color='white'] {
        color: $nat-color-light;
    }
}