@use '../../image/image';
$pri-color: #33c5ff;
$sec-color: #93d4ff;
// $ter-color:;
$nat-color-light: #fff;
$nat-color-dark: #000;
$nat-color-grey: #4a4a4a;
$font-sec: sans-serif;
$font-main: 'Plus Jakarta Sans', $font-sec;
$font-size: 16px;
#gallery {
    width: 100%;
    height: auto;
    > section {
        max-width: 1400px;
        margin: 0 auto;
        padding: 4rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        > h2 {
            margin-bottom: 3rem;
        }
        .gallery {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            > .filter {
                margin: 2rem 0;
            }
            > button {
                text-align: center;
                margin: 2rem;
            }
            .grid-box {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
                row-gap: 1.5rem;
                column-gap: 1.5rem;
                margin: 2rem 0;
            }
        }
    }
}