@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500&display=swap");
.head-sm {
  font-size: 1rem;
  font-weight: 700;
  color: #4a4a4a;
}
.head-sm[data-color=white] {
  color: #fff;
}

.head-md {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}
.head-md[data-color=white] {
  color: #fff;
}

.head-bold {
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}
.head-bold[data-color=white] {
  color: #fff;
}

.para-sm {
  font-size: 1rem;
  font-weight: 300;
  color: #4a4a4a;
}
.para-sm[data-color=white] {
  color: #fff;
}

.para-md {
  font-size: 1rem;
  font-weight: 400;
  color: #000;
}
.para-md[data-color=white] {
  color: #fff;
}

.para-bold {
  font-size: 1.1rem;
  font-weight: 500;
  color: #000;
}
.para-bold[data-color=white] {
  color: #fff;
}

.btn-primary {
  background-color: #33c5ff;
  border: 3px solid #33c5ff;
  color: #fff;
  outline: none;
  padding: 14px 38px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 200px;
  cursor: pointer;
  transition: 0.4s;
  margin-top: 1.5rem;
}
.btn-primary:hover {
  background-color: #93d4ff;
  border: 3px solid #93d4ff;
}

.btn-secondary {
  color: #fff;
  background-color: transparent;
  border: 3px solid #33c5ff;
  outline: none;
  padding: 14px 38px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 200px;
  cursor: pointer;
  transition: 0.4s;
  margin-top: 1.5rem;
}
.btn-secondary:hover {
  background-color: #33c5ff;
}

.btn-dark {
  background-color: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 14px 38px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 200px;
  cursor: pointer;
  transition: 0.4s;
  margin: 1.5rem 0;
}
.btn-dark:hover {
  background-color: #4a4a4a;
}

.btn-light {
  background-color: #fff;
  color: #000;
  border: none;
  outline: none;
  padding: 14px 38px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 200px;
  cursor: pointer;
  transition: 0.4s;
  margin: 1.5rem 0;
}
.btn-light:hover {
  background-color: #000;
  color: #fff;
}
.btn-light.active {
  background-color: #000;
  color: #fff;
}

#head {
  width: 100%;
  height: auto;
  background: url("../img/back.jpg");
  background-size: cover;
  background-position: 0 50%;
  position: relative;
}
#head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.247);
  z-index: 0;
}
#head > section {
  max-width: 1400px;
  margin: 0 auto;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
#head > section article {
  width: 50%;
  height: auto;
  text-align: center;
  z-index: 11;
}
#head > section article > p {
  margin-top: 2rem;
}

.image-card {
  width: 100%;
  height: auto;
  position: relative;
}
.image-card:hover > figcaption {
  opacity: 1;
  visibility: visible;
}
.image-card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.image-card > figcaption {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.384);
  opacity: 0;
  visibility: hidden;
  color: white;
  transition: 0.4s;
}
.image-card > figcaption > div {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-card > figcaption > div:nth-of-type(1) a {
  font-size: 1.5rem;
  transition: 0.4s;
}
.image-card > figcaption > div:nth-of-type(1) a:hover {
  color: #93d4ff;
}
.image-card > figcaption > div:nth-of-type(1) > i span {
  margin: 0 0.5rem;
}
.image-card > figcaption > div > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.image-card > figcaption > div > div > figure {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.image-card > figcaption > div > div > figure > img {
  border-radius: 50%;
}
.image-card > figcaption > div > div > h4 {
  font-size: 0.9rem;
  font-weight: bold;
  margin-left: 1rem;
}
.image-card > figcaption > div > b {
  font-size: 0.9rem;
}
.image-card > figcaption > div > b span {
  margin: 0 0.25rem;
}

#gallery {
  width: 100%;
  height: auto;
}
#gallery > section {
  max-width: 1400px;
  margin: 0 auto;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#gallery > section > h2 {
  margin-bottom: 3rem;
}
#gallery > section .gallery {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#gallery > section .gallery > .filter {
  margin: 2rem 0;
}
#gallery > section .gallery > button {
  text-align: center;
  margin: 2rem;
}
#gallery > section .gallery .grid-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  row-gap: 1.5rem;
  -moz-column-gap: 1.5rem;
       column-gap: 1.5rem;
  margin: 2rem 0;
}

footer {
  width: 100%;
  height: auto;
  background-color: #111;
  color: white;
}
footer > h4 {
  color: #bbb !important;
  text-align: center;
  padding-bottom: 3rem;
}
footer > h4 > a {
  color: white;
  text-decoration: underline;
}
footer > section {
  max-width: 1400px;
  margin: 0 auto;
  height: auto;
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer > section > article, footer > section > div {
  width: 50%;
  height: auto;
  padding: 0 2rem;
  height: 200px;
}
footer > section > article {
  padding-top: 2rem;
}
footer > section > article > h2 {
  margin-bottom: 1rem;
}
footer > section > article > p {
  color: #999 !important;
}
footer > section > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer > section > div > ul {
  width: 120px;
  margin: 1rem 0;
}
footer > section > div > ul .foot-list-head {
  color: #ccc;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
footer > section > div > ul > li {
  margin: 0.25rem 0;
  font-size: 0.8rem;
}
footer > section > div > ul > li a:hover {
  text-decoration: underline;
}

#header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.4s;
  z-index: 999;
  color: #fff;
}
#header .menu {
  width: calc(100% - 150px);
  height: 100%;
}
#header .menu nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#header .desktop {
  display: block;
}
#header .desktop > nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#header .desktop > nav > ul li {
  padding: 1.5rem 1rem;
  position: relative;
  cursor: pointer;
}
#header .desktop > nav > ul li > span {
  margin-left: 0.125rem;
  display: inline-block;
  transition: 0.4s;
}
#header .desktop > nav > ul li:hover > span {
  transform: rotate(90deg);
}
#header .desktop > nav > ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
#header .desktop > nav > ul li > ul {
  width: 150px;
  position: absolute;
  padding: 1rem 1.5rem;
  right: -1rem;
  top: 68px;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  transform: translateY(80px);
  transition: 0.4s;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.1647058824);
  background-color: white;
  color: #4a4a4a;
}
#header .desktop > nav > ul li > ul li {
  padding: 0.25rem 0;
}
#header .desktop > nav > ul li > ul::before {
  content: "";
  position: absolute;
  top: -7.5px;
  right: 20%;
  width: 15px;
  height: 15px;
  background-color: white;
  transform: rotate(45deg);
  z-index: -1;
}
#header .mobile {
  display: none;
  position: relative;
}
#header .mobile button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 2.5rem;
  position: absolute;
  top: 50%;
  right: 1.5rem;
  transform: translateY(-50%);
  z-index: 9999;
  cursor: pointer;
}
#header .mobile > nav {
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(100%);
  transition: 0.4s;
}
#header .mobile > nav > ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.8470588235);
}
#header .mobile > nav > ul > li {
  padding: 1rem 0;
  color: white;
  font-size: 1.2rem;
  position: relative;
}
#header .mobile > nav > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
#header .mobile > nav > ul > li > ul {
  width: 120px;
  position: absolute;
  top: -15px;
  right: -140px;
  padding: 1rem 1.5rem;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  transform: translateX(80px);
  transition: 0.4s;
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.1647058824);
  background-color: white;
  color: #000;
  z-index: 999;
}
#header .mobile > nav > ul > li > ul li {
  padding: 0.25rem 0;
  font-size: 1rem;
}
#header .mobile > nav > ul > li > ul::before {
  content: "";
  position: absolute;
  left: -7.5px;
  top: 20%;
  width: 15px;
  height: 15px;
  background-color: white;
  transform: rotate(45deg);
  z-index: -1;
}
#header .logo {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.active-nav {
  transform: translateX(0%) !important;
}

.fixed-nav {
  position: fixed !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  background: white !important;
  color: #000 !important;
}

@media only screen and (max-width: 576px) {
  #header {
    padding: 0 1rem;
  }
  #header .desktop {
    display: none;
  }
  #header .mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #head > section {
    padding: 0 1rem;
  }
  #head > section article {
    width: 100%;
  }
  #gallery > section .gallery .grid-box {
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 0;
         column-gap: 0;
  }
  footer > section {
    flex-direction: column;
    padding: 4rem 0;
  }
  footer > section > article, footer > section > div {
    width: 100%;
    height: auto;
    margin: 1rem 0;
  }
}
@media only screen and (min-width: 577px) {
  #header {
    padding: 0 1rem;
  }
  #header .desktop {
    display: none;
  }
  #header .mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #head > section {
    padding: 0 1rem;
  }
  #head > section article {
    width: 100%;
  }
  #gallery > section .gallery .grid-box {
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 0;
         column-gap: 0;
  }
  footer > section {
    flex-direction: column;
    padding: 4rem 0;
  }
  footer > section > article, footer > section > div {
    width: 100%;
    height: auto;
    margin: 1rem 0;
  }
}
@media only screen and (min-width: 768px) {
  #gallery > section .gallery .grid-box {
    grid-template-columns: repeat(2, 1fr);
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
}
@media only screen and (min-width: 992px) {
  #header {
    padding: 0 2rem;
  }
  #header .desktop {
    display: block;
  }
  #header .mobile {
    display: none;
    justify-content: unset;
    align-items: unset;
  }
  #head > section {
    padding: 0;
  }
  #head > section article {
    width: 50%;
  }
  #gallery > section .gallery .grid-box {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
  footer > section {
    flex-direction: row;
    padding: 4rem 2rem;
  }
  footer > section > article, footer > section > div {
    width: 50%;
    height: 200px;
    margin: 0;
  }
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */